In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("global_power_plant_database.csv")

In [22]:
df["country"].value_counts()

USA    8686
CHN    3041
GBR    2536
BRA    2340
FRA    2017
       ...
ATA       2
GNB       1
LSO       1
DJI       1
ESH       1
Name: country, Length: 164, dtype: int64

In [5]:
df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh
count,29910.000000,29910.000000,29910.000000,16303.000000,13743.000000,6996.000000,7440.000000,8144.000000,8971.000000,9213.000000,21791.000000
mean,186.294810,32.497558,-12.458680,1995.486227,2016.860001,689.625437,664.840134,664.270784,583.622877,579.524723,847.036474
std,525.703572,23.654472,76.978265,23.525537,1.195205,2330.869715,2258.351290,2304.225386,2097.603620,2063.070235,4067.434967
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,0.000000
25%,4.774430,28.863475,-79.211275,1986.000000,2017.000000,2.167000,2.157000,2.350250,2.380500,3.202000,10.082961
50%,18.900000,40.071250,-3.746700,2005.000000,2017.000000,27.033000,23.005000,22.094000,17.862000,20.462000,53.417041
75%,100.000000,47.134575,24.931050,2012.063866,2017.000000,250.600500,224.955250,238.437917,187.084835,192.567000,339.874490
max,22500.000000,71.292000,179.388700,2018.000000,2018.000000,50834.000000,32320.917000,59546.865000,32377.477000,35116.000000,450562.692350

In [6]:
df_all = df.drop(['country_long', 'name', 'url', 'geolocation_source', 'wepp_id'], axis=1)

In [7]:
df_all['gppd_idnr'].is_unique

True

In [10]:
df_all["primary_fuel_num"] = df_all["primary_fuel"].map({'NaN':0, 'Hydro':1, 'Solar':2, 'Wind':3, 'Gas':4, 'Coal':5, 'Oil':6, 'Biomass':7, 'Waste':8, 'Nuclear':9, 'Geothermal':10, 'Storage':11, 'Other':12, 'Cogeneration':13, 'Petcoke':14, 'Wave and Tidal':15})
df_all["other_fuel1_num"] = df_all["other_fuel1"].map({'NaN':0, 'Hydro':1, 'Solar':2, 'Wind':3, 'Gas':4, 'Coal':5, 'Oil':6, 'Biomass':7, 'Waste':8, 'Nuclear':9, 'Geothermal':10, 'Storage':11, 'Other':12, 'Cogeneration':13, 'Petcoke':14, 'Wave and Tidal':15})
df_all["other_fuel2_num"] = df_all["other_fuel2"].map({'NaN':0, 'Hydro':1, 'Solar':2, 'Wind':3, 'Gas':4, 'Coal':5, 'Oil':6, 'Biomass':7, 'Waste':8, 'Nuclear':9, 'Geothermal':10, 'Storage':11, 'Other':12, 'Cogeneration':13, 'Petcoke':14, 'Wave and Tidal':15})
df_all["other_fuel3_num"] = df_all["other_fuel3"].map({'NaN':0, 'Hydro':1, 'Solar':2, 'Wind':3, 'Gas':4, 'Coal':5, 'Oil':6, 'Biomass':7, 'Waste':8, 'Nuclear':9, 'Geothermal':10, 'Storage':11, 'Other':12, 'Cogeneration':13, 'Petcoke':14, 'Wave and Tidal':15})
df_all.set_index('gppd_idnr')

,country,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,...,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh,primary_fuel_num,other_fuel1_num,other_fuel2_num,other_fuel3_num
gppd_idnr,,,,,,,,,,,,,,,,,,,,,
GEODB0040538,AFG,33.00,32.3220,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
GEODB0040541,AFG,66.00,34.5560,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
GEODB0040534,AFG,100.00,34.6410,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
GEODB0040536,AFG,11.55,34.4847,70.3633,Hydro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
GEODB0040540,AFG,42.00,34.5638,69.1134,Gas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRI1022386,ZMB,50.00,-12.9667,28.6333,Oil,NaN,NaN,NaN,NaN,ZESCO,...,NaN,NaN,NaN,NaN,NaN,120.872642,6,NaN,NaN,NaN
WRI1022384,ZMB,20.00,-12.8167,28.2000,Oil,NaN,NaN,NaN,NaN,ZESCO,...,NaN,NaN,NaN,NaN,NaN,48.349057,6,NaN,NaN,NaN
WRI1022380,ZMB,108.00,-17.9167,25.8500,Hydro,NaN,NaN,NaN,NaN,ZESCO,...,NaN,NaN,NaN,NaN,NaN,702.100000,1,NaN,NaN,NaN
GEODB0040404,ZWE,920.00,-18.3835,26.4700,Coal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4397.000000,5,NaN,NaN,NaN
GEODB0003803,ZWE,750.00,-16.5222,28.7619,Hydro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5431.000000,1,NaN,NaN,NaN

In [11]:
# To count the number of countries. There are a total of 164 countries. Also gives the total number of powerplants for countries.
df_all["country"].value_counts()

USA    8686
CHN    3041
GBR    2536
BRA    2340
FRA    2017
       ...
ATA       2
GNB       1
LSO       1
DJI       1
ESH       1
Name: country, Length: 164, dtype: int64

In [12]:
#Split into one dataset containing estimated and one containing time series data
df_time_series = (df_all.dropna(how='all', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])
                      .set_index('gppd_idnr'))


df_time_series_complete = df_time_series.dropna(how='any', subset=['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017'])

df_time_series_incomplete = df_time_series[df_time_series[['generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016', 'generation_gwh_2017']].isnull().any(axis=1)]

df_estimate = (df_all.dropna(how='any', subset=['estimated_generation_gwh'])
                   .set_index('gppd_idnr'))

In [13]:
#We must have some duplicates
len(df_time_series_incomplete)+len(df_estimate)+len(df_time_series_complete)

31814

In [14]:
#Some rows have both estimate and incomplete time series:
s1 = pd.merge(df_time_series_incomplete, df_estimate, how='inner')
s1

,country,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,...,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh,primary_fuel_num,other_fuel1_num,other_fuel2_num,other_fuel3_num
0,AUS,50.0,-34.5034,139.0246,Oil,NaN,NaN,NaN,NaN,Infratil Energy Australia Pty Ltd,...,NaN,NaN,1.653056,5.300833,7.649722,526.452790,6,NaN,NaN,NaN
1,AUS,37.0,-23.5525,145.3142,Gas,NaN,NaN,NaN,NaN,Ergon Energy Qld Pty Ltd,...,NaN,NaN,NaN,NaN,3.941667,93.304739,4,NaN,NaN,NaN
2,AUS,113.0,-36.5817,149.1083,Wind,NaN,NaN,NaN,NaN,Boco Rock Wind Farm Pty Ltd,...,NaN,NaN,208.778611,334.114167,349.301667,94.893070,3,NaN,NaN,NaN
3,AUS,53.0,-31.9867,141.3915,Solar,NaN,NaN,NaN,NaN,AGL Energy,...,NaN,NaN,NaN,92.104722,127.564722,1059.946475,2,NaN,NaN,NaN
4,AUS,190.0,-20.5447,147.8049,Coal,NaN,NaN,NaN,NaN,RATCH Australia,...,0.214722,NaN,NaN,NaN,NaN,771.660922,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525,VNM,66.0,14.3656,108.6943,Hydro,NaN,NaN,NaN,2001.0,Vinh Son- Song Hinh Hydropower JSC,...,NaN,NaN,NaN,228.500000,NaN,230.679596,1,NaN,NaN,NaN
2526,VNM,28.0,14.3611,108.7203,Hydro,NaN,NaN,NaN,2014.0,Vinh Son Hydropower Investment JSC,...,NaN,NaN,NaN,103.000000,NaN,97.864071,1,NaN,NaN,NaN
2527,VNM,6.6,21.3412,104.3498,Hydro,NaN,NaN,NaN,NaN,Xim Vang Hydro Power JSC,...,NaN,NaN,NaN,68.000000,NaN,23.067960,1,NaN,NaN,NaN
2528,VNM,19.5,12.1526,108.3787,Hydro,NaN,NaN,NaN,2010.0,Cao Nguyen - Song Da Hydro Power JSC.,...,NaN,NaN,NaN,79.000000,NaN,68.155335,1,NaN,NaN,NaN
2529,VNM,30.0,15.8600,107.6538,Hydro,NaN,NaN,NaN,2009.0,Za Hungt JSC.,...,NaN,NaN,NaN,122.700000,NaN,104.854362,1,NaN,NaN,NaN

In [21]:
df_time_series_complete

,country,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,...,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,estimated_generation_gwh,primary_fuel_num,other_fuel1_num,other_fuel2_num,other_fuel3_num
gppd_idnr,,,,,,,,,,,,,,,,,,,,,
AUS0000065,AUS,21.6,-35.0641,117.7977,Wind,NaN,NaN,NaN,NaN,Verve Energy,...,89.595278,102.642778,96.555556,95.872778,85.900278,NaN,3,NaN,NaN,NaN
AUS0000264,AUS,55.6,-34.2082,150.7722,Gas,NaN,NaN,NaN,NaN,Energy Developments CSM (NSW) Pty Ltd,...,204.804444,238.294444,163.583611,158.933056,64.534722,NaN,4,NaN,NaN,NaN
AUS0000049,AUS,1.1,-33.0250,151.5497,Waste,NaN,NaN,NaN,NaN,LMS Energy Generation Pty Ltd,...,7.655278,8.338611,9.172500,8.830000,8.085556,NaN,8,NaN,NaN,NaN
AUS0000081,AUS,94.0,-37.8429,147.5639,Gas,NaN,NaN,NaN,NaN,Alinta DEBO,...,132.456667,154.885556,149.821111,197.540556,168.524444,NaN,4,NaN,NaN,NaN
AUS0000113,AUS,3.0,-37.5596,143.8469,Gas,NaN,NaN,NaN,NaN,Ballarat Base Hospital,...,4.194444,4.213056,5.079444,6.831389,6.663333,NaN,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA0055392,USA,596.7,42.4776,-87.8950,Gas,Oil,NaN,NaN,2002.333333,Zion Energy LLC,...,0.000000,63.656000,132.434005,435.493999,462.063000,NaN,4,6.0,NaN,NaN
USA0056871,USA,7.0,42.4803,-87.8861,Waste,NaN,NaN,NaN,2003.000000,Energy Developments Inc,...,43.592000,49.134000,46.699000,42.480000,38.669000,NaN,8,NaN,NaN,NaN
USA0001368,USA,18.0,38.2803,-85.7023,Gas,NaN,NaN,NaN,1969.000000,Louisville Gas & Electric Co,...,0.203000,0.078000,1.058000,0.062000,0.015000,NaN,4,NaN,NaN,NaN
USA0057648,USA,3.4,42.8869,-76.9683,Wind,NaN,NaN,NaN,2012.000000,Zotos International,...,3.671000,2.460150,2.489000,1.670000,1.233490,NaN,3,NaN,NaN,NaN
USA0059281,USA,9.8,40.5606,-112.0478,Gas,NaN,NaN,NaN,2013.775510,Bloom Energy,...,12.968000,51.276000,71.505000,76.392000,76.631000,NaN,4,NaN,NaN,NaN

In [20]:
df_time_series_complete["commissioning_year"].value_counts()

2012.000000    380
2013.000000    320
2011.000000    255
2009.000000    183
2010.000000    170
              ...
1981.089181      1
1946.500000      1
1979.260262      1
1953.411388      1
1988.333333      1
Name: commissioning_year, Length: 1911, dtype: int64